<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="edu.utdallas.cs4v95.jxp127930.contactmanager">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".contacts.ContactsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".contactdetail.ContactDetailActivity"
            android:parentActivityName=".contacts.ContactsActivity"/>

    </application>

</manifest>
